<link rel="stylesheet" href="./css/home.css" />

<header>
  <h1 class="heading">Admit Kard</h1>
</header>
<!-- used for creating the form and send data to the database-->
<hr />
<form action="/create" method="POST">
  <div class="form-row padding" id="display">
    <div class="col-md-12 mb-3">
      <label for="validationDefault01">Query</label>
      <input
        type="text"
        class="form-control"
        id="query"
        placeholder="Enter the Query"
        name="query"
        required
      />
    </div>

    <div class="col-md-6 mb-3">
      <label for="validationDefault01">Topic</label>
      <input
        type="text"
        class="form-control"
        id="topic"
        placeholder="Enter the Topics"
        name="topic"
        required
      />
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationDefault01">Tag</label>
      <input
        type="text"
        class="form-control"
        id="tag"
        placeholder="Enter the Tags seprated by comma"
        name="tag"
        required
      />
    </div>
    <div class="center">
      <button class="btn btn-primary" id="addTask" type="submit">
        <span>Add Question</span>
      </button>
    </div>
  </div>
</form>
<hr />
<script src="/js/index.js"></script>
